.hero-section-services {
    background-image: url('../images/services-hero-img.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    display: block;
    padding: 16.4rem 0 22.8rem 0;
    margin: 0 3rem;
    border-radius: 50px;
}

.hero-section-services .title {
    color: #fff;
    margin-bottom: 1.6rem;

}

.hero-section-services .text {
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width:1024px) {
    .hero-section-services {
        background-image: none;
        padding: 9.4rem 3.2rem 2.1rem 3.2rem;
    }

    .hero-section-services .title {
        font-weight: 700;
        font-size: 40px;
        line-height: 27px;
        text-align: center;
        color: #231F20;
        margin-bottom: 1.6rem;

    }

    .hero-section-services .text {
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        color: #231F20;
    }
}

@media screen and (max-width:481px) {
    .hero-section-services {
        padding: 9.4rem 3.2rem 2.1rem 3.2rem;
    }

    .hero-section-services .title {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 0.8rem;
    }

    .hero-section-services .text {
        font-size: 16px;
    }
}